@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to the Waste Detection Prototype
    </h1>

    <br />
    <br />

    <div class="home-icons-container text-warning">
        <i class="fa-solid fa-magnifying-glass looking-glass-home-icon"></i>
        <i class="fa-solid fa-trash-can trash-can-home-icon"></i>
    </div>
</div>
