@{
    ViewData["Title"] = "Licensing";
}

<div class="">
    
    <div class="grid-two">
        <div class="block-card license-main">
            <div class="home-icons-container text-warning d-flex pe-5">
                <i class="fa-solid fa-magnifying-glass looking-glass-home-icon"></i>
                <i class="fa-solid fa-trash-can trash-can-home-icon"></i>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center align-content-center">
                The Waste Detection Prototype and its successor the Waste Detection App are and will be licensed under the MIT in perpentuity.

                <a href="https://licenses.nuget.org/MIT" target="_blank">
                    MIT License
                </a>
            </div>
        </div>
        <!-- .NET -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://dotnet.microsoft.com/en-us/" target="_blank">
                <h4>
                    <i class="fa-brands fa-microsoft fa-2x"></i> .NET
                </h4>
            </a>
            <a class="license-download" href="https://github.com/microsoft/dotnet" target="_blank">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://dotnet.microsoft.com/en-us/platform/free" target="_blank">
                <i class="fa-brands fa-creative-commons-zero"></i> Free
            </a>
        </div>
        <!-- Orfeo ToolBox -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://www.orfeo-toolbox.org/" target="_blank">
                <h4>
                    <i class="fa-solid fa-toolbox fa-2x"></i> Orfeo ToolBox
                </h4>
            </a>
            <a class="license-download" href="https://github.com/orfeotoolbox/OTB" target="_blank">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                <i class="fa-brands fa-creative-commons"></i> Creative Commons Attribution 4.0 License
            </a>
        </div>
        <!-- EntityFrameworkCore -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://dotnet.microsoft.com/en-us/" target="_blank">
                <h4>
                    <i class="fa-brands fa-microsoft fa-2x"></i> <i class="fa-solid fa-database fa-2x"></i> Entity Framework Core
                </h4>
            </a>
            <a class="license-download" href="https://github.com/dotnet/efcore" target="_blank">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://licenses.nuget.org/MIT" target="_blank">
                <i class="fa-solid fa-id-card fa-1x"></i> MIT License
            </a>
        </div>
        <!-- GDAL -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://gdal.org/" target="_blank">
                <h4>
                    <i class="fa-solid fa-satellite-dish fa-2x"></i> GDAL
                </h4>
            </a>
            <a class="license-download" href="https://github.com/OSGeo/gdal" target="_blank">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://raw.githubusercontent.com/OSGeo/gdal/master/LICENSE.TXT" target="_blank">
                <i class="fa-solid fa-id-card fa-1x"></i> MIT License
            </a>
        </div>
        
        <!-- SQlite -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://www.sqlite.org/index.html" target="_blank">
                <h4>
                    <i class="fa-solid fa-database fa-2x"></i> SQlite
                </h4>
            </a>
            <a class="license-download" href="https://sqlite.org/src/doc/trunk/README.md" target="_blank">
                <i class="fa-solid fa-book-skull fa-1x"></i> SQLite Source Repository
            </a>
            <a class="license-link" href="https://www.sqlite.org/copyright.html" target="_blank">
                <i class="fa-brands fa-creative-commons-zero"></i> SQLite Is Public Domain
            </a>
        </div>
        <!-- Open Layers -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://openlayers.org/" target="_blank">
                <h4>
                    <i class="fa-solid fa-layer-group fa-2x"></i> Open Layers
                </h4>
            </a>
            <a class="license-download" href="https://github.com/openlayers/openlayers" target="_blank">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://www.tldrlegal.com/license/bsd-2-clause-license-freebsd" target="_blank">
                <i class="fa-brands fa-freebsd"></i> BSD 2-Clause License (FreeBSD/Simplified)
            </a>
        </div>
        <!-- CliWrap -->
        <div class="block-card license-info">
            <a class="licence-holder" href="https://github.com/Tyrrrz/CliWrap">
                <h4>
                    <i class="fa-solid fa-terminal fa-2x"></i> CliWrap
                </h4>
            </a>
            <a class="license-download" href="https://github.com/Tyrrrz/CliWrap#install">
                <i class="fa-brands fa-github fa-1x"></i> GitHub
            </a>
            <a class="license-link" href="https://licenses.nuget.org/MIT" target="_blank">
                <i class="fa-solid fa-id-card fa-1x"></i> MIT License
            </a>
        </div>
    </div>
</div>