@{
    ViewData["Title"] = "Map";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.3.0/ol.css">
}

<div class="row">
    <div id="map" class="map" style="width: 500px; height: 500px;"></div>
</div>

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.3.0/dist/ol.js"></script>s
    <script type="module" src="https://cdn.jsdelivr.net/npm/geotiff"></script>
    <script src="https://cdn.jsdelivr.net/npm/elm-pep@1.0.6/dist/elm-pep.js"></script>

    @*<script type="module">
        import Map from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/Map.js';
        import OSM from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/source/OSM.js';
        import TileLayer from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/layer/Tile.js';
        import View from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/View.js';

        const map = new Map({
            target: 'map',
            layers: [
                new TileLayer({
                    source: new OSM(),
                }),
            ],
            view: new View({
                center: [0, 0],
                zoom: 2,
            }),
        });
    </script>*@

    <script type="module">
        //import geotiff from 'https://cdn.jsdelivr.net/npm/geotiff';
        //~/lib/geotiff/geotiff.js
        //import GeoTIFF from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/source/GeoTIFF.js';
        //import GeoTIFF, { fromUrl, fromUrls, fromArrayBuffer, fromBlob } from 'geotiff';
        console.log(GeoTIFF);
        //import GeoTIFFO from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/source/GeoTIFF.js';
        import Map from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/Map.js';
        import TileLayer from 'https://cdn.jsdelivr.net/npm/ol@v7.3.0/layer/WebGLTile.js';
        

        const source = new GeoTIFF.GeoTIFF({
            sources: [
                {
                    url: 'https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/36/Q/WD/2020/7/S2A_36QWD_20200701_0_L2A/TCI.tif',
                },
            ],
        });

        const map = new Map({
            target: 'map',
            layers: [
                new TileLayer({
                    source: source,
                }),
            ],
            view: source.getView(),
        });
    </script>
}