@{
    ViewData["Title"] = "Image Classifier";
}

@section Styles{
    <link rel="stylesheet" href="/css/ol/ol.css">
    <link rel="stylesheet" href="/css/ol/ol-ext.min.css">
}

<div class="row">
    <h4 class="text-center">
        Image Classifier
    </h4>
    <div class="grid-two mt-4">
        <div class="block-card form-group">
            <label class="form-label">Input Image full(absolute) file path (.png, .tif, .tiff)</label>
            <input id="inpImgPath" type="text" class="form-control" placeholder="C:\data\1to10\1to10.tif" />
        </div>
        <div class="block-card form-group">
            <label class="form-label">Input Model full(absolute) file path (.mdl)</label>
            <input id="inpModelPath" type="text" class="form-control" placeholder="C:\data\1to10\models\model.mdl" />
        </div>
        <div class="block-card form-group">
            <label class="form-label">Input XML Statistics file path (.xml)</label>
            <input id="inpXmlStatisticsPath" type="text" class="form-control" placeholder="C:\data\1to10\statistics\latest.xml" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <button type="button" onclick="ImageClassifier();" class="btn btn-primary col-md-3 col-sm-6">Classify</button>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="block-card">
            <h4 class="text-center">
                Results
            </h4>
            <hr />
            <div id="loading" class="col-12 h-50 text-center d-none p-4">
                <i class="fa-solid fa-crosshairs fa-spin fa-4x"></i>
            </div>
            <div id="divResult" class="">
                <div class="text-center">
                    <label class="form-label" onclick="CopyRasterPathToClipBoard()">
                        Copy the Output Raster Path to use in the next step <i class="fa-solid fa-copy"></i>
                    </label>
                    <hr />
                    <input id="resultRasterPath" type="text" class="form-control" />
                </div>
                <div class="text-center">
                    <label class="form-label">
                        Download Output Raster for further use <i class="fa-solid fa-download"></i></i>
                    </label>
                    <hr />
                    <a id="linkRasterPath" href="#" class="btn btn-outline-primary">
                        Download Output Raster File (.tif)
                        <em>can be quite large</em>
                    </a>
                </div>
                <div class="text-center">
                    <label class="form-label" onclick="CopyConfidencePathToClipBoard()">
                        Copy the Confidence Map Path to use in the next step <i class="fa-solid fa-copy"></i>
                    </label>
                    <hr />
                    <input id="resultConfidencePath" type="text" class="form-control" />
                </div>
                <div class="text-center">
                    <label class="form-label">
                        Download Confidence Map for further use <i class="fa-solid fa-download"></i></i>
                    </label>
                    <hr />
                    <a id="linkConfidencePath" href="#" class="btn btn-outline-primary">
                        Download Confidence Map File (.tif)
                        <em>can be quite large</em>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="next-step-container">
        <a href="@Url.Action("TrainImageClassifier", "Detection")" class="next-step-link">
            Previous Step - Train Image Classifier
        </a>
        <a href="@Url.Action("RasterCalculator", "Detection")" class="next-step-link">
            Next Step - Raster Calculator
        </a>
    </div>
</div>

@section Scripts {

    <script src="/lib/proj4/proj4-src.js"></script>
    <script src="/lib/ol/ol.js"></script>
    <script src="/lib/ol/ol-ext.min.js"></script>
    <script src="/lib/geotiff/geotiff.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/elm-pep@1.0.6/dist/elm-pep.js"></script>

    <script>

        $(function () {
        });

        function ImageClassifier() {
            $("#loading").removeClass("d-none");

            let inpImgPath = $("#inpImgPath").val();

            let inpModelPath = $("#inpModelPath").val();

            let inpXmlStatisticsPath = $("#inpXmlStatisticsPath").val();

            let fileData = new FormData();
            fileData.append("inpImgPath", inpImgPath);
            fileData.append("inpModelPath", inpModelPath);
            fileData.append("inpXmlStatisticsPath", inpXmlStatisticsPath);

            $.ajax({
                url: "@Url.Action("ImageClassifier", "Detection")",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (response) {
                    console.log(response);
                    if (response) {
                        let splitPaths = response.split('---');
                        let relativeRasterPath = splitPaths[0];
                        let absoluteRasterPath = splitPaths[1];
                        let relativeConfidencePath = splitPaths[2];
                        let absoluteConfidencePath = splitPaths[3];
                        ShowResult(relativeRasterPath, absoluteRasterPath, relativeConfidencePath, absoluteConfidencePath);
                    }
                    else {
                        swal("error");
                    }
                },
                error: function (req, status, error) {
                    swal("error");
                },
                complete: function () {
                    $("#loading").addClass("d-none");
                }
            });
        }

        function CopyRasterPathToClipBoard() {
            // Get the text field
            var copyText = document.getElementById("resultRasterPath");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

        function CopyConfidencePathToClipBoard() {
            // Get the text field
            var copyText = document.getElementById("resultConfidencePath");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

        function ShowResult(relativeRasterPath, absoluteRasterPath, relativeConfidencePath, absoluteConfidencePath) {
            $("#divResult").removeClass('d-none');
            $("#resultRasterPath").val(absoluteRasterPath);
            $("#resultRasterPath").text(absoluteRasterPath);
            $("#linkRasterPath").attr("href", relativeRasterPath);
            $("#resultConfidencePath").val(absoluteConfidencePath);
            $("#resultConfidencePath").text(absoluteConfidencePath);
            $("#linkConfidencePath").attr("href", relativeConfidencePath);
        }

    </script>

}