@{
    ViewData["Title"] = "Detection";
}

<div class="row">
    <h4 class="text-center"></h4>
    <div class="grid-two mt-4">
        <div class="block-card grid-span-two">
            <h4>
                Full Process
            </h4>
            <div class="form-group col-md-6 col-sm-12">
                <label class="form-label">Input the path to the downloaded image (Download Image step) </label>
                <input id="inpLayerPath" type="text" class="form-control" />
            </div>
            <a href="@Url.Action("InputImagePath", "Detection")" class="btn btn-outline-primary mt-3 text-end fa-pull-right">
                Start Process <i class="fa-solid fa-microchip fa-1x"></i>
            </a>
        </div>
        <div class="block-card grid-span-two">
            <h4>
                Results
            </h4>
            <hr />
            <div id="loading" class="col-12 h-50 text-center d-none p-4">
                <i class="fa-solid fa-dumbbell fa-spin fa-4x"></i>
            </div>
            <div id="divResult" class="bg-secondary">
            </div>
        </div>
    </div>
</div>
