@{
    ViewData["Title"] = "PreTrained Detection";
}
@*@model IEnumerable<PreTrainedDetectionExample>;*@

<div class="row">
    <div>
       @* @Html.DropDownListFor(m => m,
        new SelectList(Model, "Id", "Name"), "PreTrained Example", new { @class = "form-control", onchange="ChangedOrderStatus()" })*@
    </div>
</div>
