@{
    ViewData["Title"] = "Raster Calculator";
}

@section Styles{
    <link rel="stylesheet" href="/css/ol/ol.css">
    <link rel="stylesheet" href="/css/ol/ol-ext.min.css">
}

<div class="row">
    <h4 class="text-center">
        Raster Calculator
    </h4>
    <div class="grid-two mt-4">
        <div class="block-card form-group">
            <label class="form-label">Input Layer A full(absolute) file path (.png, .tif, .tiff)</label>
            <input id="inpLayerAPath" type="text" class="form-control" placeholder="C:\data\1to10\1to10.tif" />
        </div>
        <div class="block-card form-group">
            <label class="form-label">Input Layer B full(absolute) file path (.png, .tif, .tiff)</label>
            <input id="inpLayerBPath" type="text" class="form-control" placeholder="C:\data\1to10\1to10.tif" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <button type="button" onclick="RasterCalculator();" class="btn btn-primary col-md-3 col-sm-6">Calculate</button>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="block-card">
            <h4 class="text-center">
                Results
            </h4>
            <hr />
            <div id="loading" class="col-12 h-50 text-center d-none p-4">
                <i class="fa-solid fa-calculator fa-spin fa-4x"></i>
            </div>
            <div id="divResult" class="">
                <div class="text-center">
                    <label class="form-label" onclick="CopyModelPathToClipBoard()">
                        Copy the Model Path to use in the next step <i class="fa-solid fa-copy"></i>
                    </label>
                    <hr />
                    <input id="resultModelPath" type="text" class="form-control" />
                </div>
                <div class="text-center">
                    <label class="form-label">
                        Download Model for further use <i class="fa-solid fa-download"></i></i>
                    </label>
                    <hr />
                    <a id="linkModelPath" href="#" class="btn btn-outline-primary">
                        Download Model File (.mdl)
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="next-step-container">
        <a href="@Url.Action("ImageClassifier", "Detection")" class="next-step-link">
            Previous Step - Image Classifiaction
        </a>
        <a href="@Url.Action("Sieve", "Detection")" class="next-step-link">
            Next Step - Sieve
        </a>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
        });

        function CopyModelPathToClipBoard() {
            // Get the text field
            var copyText = document.getElementById("resultModelPath");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

        function RasterCalculator() {
            $("#loading").removeClass("d-none");

            let inpLayerAPath = $("#inpLayerAPath").val();

            let inpLayerBPath = $("#inpLayerBPath").val();

            let fileData = new FormData();
            fileData.append("inpLayerAPath", inpLayerAPath);
            fileData.append("inpLayerBPath", inpLayerBPath);

            $.ajax({
                url: "@Url.Action("RasterCalculator", "Detection")",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (response) {
                    console.log(response);
                    if (response) {
                        let splitPaths = response.split('---');
                        let relativePath = splitPaths[0];
                        let absolutePath = splitPaths[1];
                        ShowResult(relativePath, absolutePath);
                    }
                    else {
                        swal("error");
                    }
                },
                error: function (req, status, error) {
                    swal("error");
                },
                complete: function () {
                    $("#loading").addClass("d-none");
                }
            });
        }

        function ShowResult(modelRelativePath, modelAbsolutePath) {
            $("#divResult").removeClass('d-none');
            $("#resultModelPath").val(modelAbsolutePath);
            $("#resultModelPath").text(modelAbsolutePath);
            $("#linkModelPath").attr("href", modelRelativePath);
        }

    </script>

}