@{
    ViewData["Title"] = "Sieve";
}

<div class="row">
    <div class="grid-two">
        <div class="block-card">
            <h4 class="text-center">
                Sieve
            </h4>
            <hr />
            <div class="form-group col-md-6 col-sm-12">
                <label class="form-label">Input Layer full(absolute) file path </label>
                <input id="inpLayerPath" type="text" class="form-control" />
            </div>
            <div class="row d-flex justify-content-end me-md-4 me-sm-1">
                <button type="button" onclick="Sieve();" class="btn btn-primary col-md-3 col-sm-12">Sieve</button>
            </div>
        </div>
        <div class="block-card">
            <h4 class="text-center">
                Results
            </h4>
            <hr />
            <div id="loading" class="col-12 h-50 text-center d-none p-4">
                <i class="fa-solid fa-users-viewfinder fa-spin fa-4x"></i>
            </div>
            <div id="divResult" class="grid-two">
                <div class="text-center">
                    <label class="form-label" onclick="CopyModelPathToClipBoard()">
                        Copy the Sieved Image Path to use in the next step <i class="fa-solid fa-copy"></i>
                    </label>
                    <hr />
                    <input id="resultModelPath" type="text" class="form-control" />
                </div>
                <div class="text-center">
                    <label class="form-label">
                        Download Sieved Image for further use <i class="fa-solid fa-download"></i></i>
                    </label>
                    <hr />
                    <a id="linkModelPath" href="#" class="btn btn-outline-primary">
                        Download Sieved Tif File (.tif)
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="next-step-container">
        <a href="@Url.Action("RasterCalculator", "Detection")" class="next-step-link">
            Previous Step - Raster Calculator
        </a>
        <a href="@Url.Action("Polygonize", "Detection")" class="next-step-link">
            Next Step - Polygonize
        </a>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(function () {
        });

        function Sieve() {
            $("#loading").removeClass("d-none");

            let filePath = $("#inpLayerPath").val();

            let fileData = new FormData();
            fileData.append("inpLayerPath", filePath);

            $.ajax({
                url: "@Url.Action("Sieve", "Detection")",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (response) {
                    if (response) {
                        let splitPaths = response.split('---');
                        let relativePath = splitPaths[0];
                        let absolutePath = splitPaths[1];
                        ShowResult(relativePath, absolutePath);
                    }
                    else {
                        swal("error");
                    }
                },
                error: function (req, status, error) {
                    swal("error");
                },
                complete: function () {
                    $("#loading").addClass("d-none");
                }
            });
        }

        function ShowResult(modelRelativePath, modelAbsolutePath) {
            $("#divResult").removeClass('d-none');
            $("#resultModelPath").val(modelAbsolutePath);
            $("#resultModelPath").text(modelAbsolutePath);
            $("#linkModelPath").attr("href", modelRelativePath);
        }


        function CopyModelPathToClipBoard() {
            // Get the text field
            var copyText = document.getElementById("resultModelPath");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

    </script>
}